html {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
a {
  text-decoration: none;
}
.menu {
  padding: 1%;
  display: flex;
  flex-wrap: nowrap;
}
.menu ul {
  display: flex;
  padding: 2%;
  background-color: #aaa;
  color: #000;
}

.menu a {
  display: block; /* melhora a área clicável */
  padding: 8px 12px;
  text-decoration: none;
}
